# Core functionality - changes here should be rare!
/src/app.py                   @Sameersha15
/src/backend/database.py      @Sameersha15
/src/backend/routers/auth.py  @Sameersha15

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Sameersha15
